In [1]:
import numpy as np
import pandas as pd

In [4]:
fs=pd.Series(list('asbahfga'))

In [5]:
fs

0    a
1    s
2    b
3    a
4    h
5    f
6    g
7    a
dtype: object

In [6]:
dataSet=np.array([['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'],[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]])

In [7]:
new_series=pd.Series(dataSet[1],index=dataSet[0])

In [9]:
print(new_series)

Algeria          2255.225482
Angola           629.9553062
Argentina        11601.63022
Australia        25306.82494
Austria          27266.40335
                    ...
United States    37691.02733
Uruguay           9581.05659
Venezuela        5671.912202
Vietnam          757.4009286
Zimbabwe         347.7456605
Length: 63, dtype: object

In [11]:
scalar_series=pd.Series(5.,index=['a','b','c'])

In [12]:
scalar_series

a    5.0
b    5.0
c    5.0
dtype: float64

In [17]:
new_series.iloc[3]

'25306.82494'

In [23]:
f=pd.Series([1,2,3],index=['a','b','c'])
s=pd.Series([10,20,30,40,50],index=['c','a','b','e','f'])

In [24]:
f+s

a    21.0
b    32.0
c    13.0
e     NaN
f     NaN
dtype: float64

In [25]:
data={'HostCity':['Great Britain','China','Russia','United States','Korea','Japan','Germany'],
     'Year':[2012,2012,2012,2012,2012,2012,2012],
     'No. of Participating Countries':[222,355,3224,456,765,908,324]}

In [26]:
df_olympic_data=pd.DataFrame(data)

In [34]:
df_olympic_data.HostCity

0    Great Britain
1            China
2           Russia
3    United States
4            Korea
5            Japan
6          Germany
Name: HostCity, dtype: object

In [31]:
olympic={'london':{2012:[234,345]},
         'USA': {2016:[324,567]}
}

In [32]:
new_olympic_data=pd.DataFrame(olympic)

In [33]:
new_olympic_data

          london         USA
2012  [234, 345]         NaN
2016         NaN  [324, 567]

In [36]:
a=pd.Series([234,456,543],index=[2012,2016,2020])
b=pd.Series(['x','y','z'],index=[2012,2016,2020])

In [37]:
d=pd.DataFrame({'Host city':b,
               'Participants':a})

In [38]:
d

     Host city  Participants
2012         x           234
2016         y           456
2020         z           543

In [46]:
d.head(2)

     Host city  Participants
2012         x           234
2016         y           456

In [47]:
d.tail(2)

     Host city  Participants
2016         y           456
2020         z           543

In [48]:
d.index

Int64Index([2012, 2016, 2020], dtype='int64')

In [52]:
d['Host city']

2012    x
2016    y
2020    z
Name: Host city, dtype: object

In [55]:
d.loc['x']

KeyError: 'x'

In [56]:
d.iloc[0:2]

     Host city  Participants
2012         x           234
2016         y           456

In [57]:
d[d['Participants']>400]

     Host city  Participants
2016         y           456
2020         z           543