In [1]:
import pandas as pd
import numpy as np
import string

In [24]:
#Get the spam data collection 
dataset = pd.read_csv('/Users/rajeshsahu/Desktop/Data Science Learning/Lesson 9 -1/SpamCollection/SpamCollection',sep='\t',header=None)

In [28]:
dataset

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [31]:
dataset.columns = ['responses','messages']
dataset

     responses                                           messages
0          ham  Go until jurong point, crazy.. Available only ...
1          ham                      Ok lar... Joking wif u oni...
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...
3          ham  U dun say so early hor... U c already then say...
4          ham  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567      spam  This is the 2nd time we have tried 2 contact u...
5568       ham               Will ü b going to esplanade fr home?
5569       ham  Pity, * was in mood for that. So...any other s...
5570       ham  The guy did some bitching but I acted like i'd...
5571       ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [32]:
#view response 
dataset.responses

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: responses, Length: 5572, dtype: object

In [35]:
dataset.describe()

       responses                messages
count       5572                    5572
unique         2                    5169
top          ham  Sorry, I'll call later
freq        4825                      30

In [38]:
dataset.drop_duplicates(inplace=True)

In [39]:
dataset.dropna(inplace=True)

In [40]:
dataset.shape

(5169, 2)

In [50]:
dataset.groupby('responses').describe().T

responses                                 ham  \
messages count                           4516
         unique                          4516
         top     I havent lei.. Next mon can?
         freq                               1

responses                                                     spam
messages count                                                 653
         unique                                                653
         top     ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
         freq                                                    1

In [52]:
ham_msg = dataset[dataset.responses=='ham']
spam_msg = dataset[dataset.responses=='spam']

In [53]:
ham_msg = ham_msg.sample(n=len(spam_msg),random_state=44)

In [55]:
print(len(ham_msg),len(spam_msg))

653 653

In [58]:
#Verify length of the messages and also add it as a new column 
dataset.messages.apply(len)

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     36
5569     57
5570    125
5571     26
Name: messages, Length: 5169, dtype: int64

In [59]:
dataset['text_len'] = dataset.messages.apply(len)

In [67]:
dataset

     responses                                           messages  text_len
0          ham  Go until jurong point, crazy.. Available only ...       111
1          ham                      Ok lar... Joking wif u oni...        29
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...       155
3          ham  U dun say so early hor... U c already then say...        49
4          ham  Nah I don't think he goes to usf, he lives aro...        61
...        ...                                                ...       ...
5567      spam  This is the 2nd time we have tried 2 contact u...       160
5568       ham               Will ü b going to esplanade fr home?        36
5569       ham  Pity, * was in mood for that. So...any other s...        57
5570       ham  The guy did some bitching but I acted like i'd...       125
5571       ham                         Rofl. Its true to its name        26

[5169 rows x 3 columns]

In [66]:
dataset.groupby('responses').describe().T

responses               ham        spam
text_len count  4516.000000  653.000000
         mean     70.905890  137.704441
         std      56.715046   29.821348
         min       2.000000   13.000000
         25%      34.000000  132.000000
         50%      53.000000  148.000000
         75%      91.000000  157.000000
         max     910.000000  223.000000

In [69]:
#define a function to get rid of stopwords present in the messages
from nltk.corpus import stopwords
def remove_stopwords(x):
    x = [word for word in x if word.lower() not in stopwords.words('english')]
    return x
dataset.messages.apply(remove_stopwords)

0       [G,  , u, n, l,  , j, u, r, n, g,  , p, n, ,, ...
1       [k,  , l, r, ., ., .,  , J, k, n, g,  , w, f, ...
2       [F, r, e, e,  , e, n, r,  , n,  , 2,  ,  , w, ...
3       [U,  , u, n,  ,  ,  , e, r, l,  , h, r, ., ., ...
4       [N, h,  ,  , n, ',  , h, n, k,  , h, e,  , g, ...
                              ...
5567    [h,  ,  , h, e,  , 2, n,  , e,  , w, e,  , h, ...
5568    [W, l, l,  , ü,  , b,  , g, n, g,  ,  , e, p, ...
5569    [P, ,,  , *,  , w,  , n,  ,  , f, r,  , h, ., ...
5570    [h, e,  , g, u,  ,  , e,  , b, c, h, n, g,  , ...
5571           [R, f, l, .,  ,  , r, u, e,  ,  ,  , n, e]
Name: messages, Length: 5169, dtype: object

In [100]:
dataset.messages

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: messages, Length: 5169, dtype: object

In [112]:
data_target = dataset.responses.values
data_feature = str(dataset.messages.values)
print(data_feature)
data_feature = [data_feature]

['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'
 'Ok lar... Joking wif u oni...'
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"
 ... 'Pity, * was in mood for that. So...any other suggestions?'
 "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"
 'Rofl. Its true to its name']

In [113]:
#start text processing with vectorizer 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [114]:
#use bag of words by applying the function and fit the data into it
bag_of_words = cv.fit(data_feature)

In [116]:
#print length of bag of words stored in the vocabulary_ attribute
len(bag_of_words.vocabulary_)

78

In [126]:
bag_of_words.vocabulary_

{'go': 28,
 'until': 69,
 'jurong': 38,
 'point': 51,
 'crazy': 18,
 'available': 9,
 'only': 48,
 'in': 33,
 'bugis': 13,
 'great': 30,
 'world': 77,
 'la': 39,
 'buffet': 12,
 'cine': 16,
 'there': 64,
 'got': 29,
 'amore': 5,
 'wat': 72,
 'ok': 46,
 'lar': 40,
 'joking': 37,
 'wif': 74,
 'oni': 47,
 'free': 26,
 'entry': 22,
 'wkly': 76,
 'comp': 17,
 'to': 66,
 'win': 75,
 'fa': 23,
 'cup': 19,
 'final': 24,
 'tkts': 65,
 '21st': 2,
 'may': 42,
 '2005': 1,
 'text': 61,
 '87121': 3,
 'receive': 54,
 'question': 52,
 'std': 59,
 'txt': 68,
 'rate': 53,
 'apply': 8,
 '08452810075over18': 0,
 'pity': 50,
 'was': 71,
 'mood': 43,
 'for': 25,
 'that': 62,
 'so': 56,
 'any': 7,
 'other': 49,
 'suggestions': 60,
 'the': 63,
 'guy': 31,
 'did': 20,
 'some': 57,
 'bitching': 11,
 'but': 14,
 'acted': 4,
 'like': 41,
 'be': 10,
 'interested': 34,
 'buying': 15,
 'something': 58,
 'else': 21,
 'next': 45,
 'week': 73,
 'and': 6,
 'he': 32,
 'gave': 27,
 'it': 35,
 'us': 70,
 'rofl': 55,
 'its': 36,
 'true': 67,
 'name': 44}

In [130]:
#apply tfidf transformer and fit the bag of words into it (transformed version)
from sklearn.feature_extraction.text import TfidfTransformer
tf_idf = TfidfTransformer()
tf_data = tf_idf.fit_transform(bag_of_words.vocabulary_.keys,bag_of_words.vocabulary_.values)

ValueError: Expected 2D array, got scalar array instead:
array=<built-in method keys of dict object at 0x7fd758cf63c0>.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
#print shape of the tfidf

In [ ]:
#choose naive Bayes model to detect the spam and fit the tfidf data into it

In [ ]:
#check model for the predicted and expected value say for message#2 and message#5